@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

*{
    margin: 0;
    padding: 0;
}

.question-banner {
    display: flex;
    align-items: center;
}

/* .wrapper {
    padding-left: 50px;
    padding-right: 50px;
} */

.content-question {
    width: 50%;
    height: 700px;
    display: flex;
    /* padding: 98px 100px 98px 240px; */
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    background: var(--primary-15, linear-gradient(0deg, rgba(255, 255, 255, 0.90) 0%, rgba(255, 255, 255, 0.90) 100%), #A4BC46);
}

.content-question h3 {
    color: var(--primary-180, #A4BC46);
    text-align: center;
    font-family: "Lily Script One", sans-serif;
    font-size: 39px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
    text-transform: capitalize;
    margin-left: 110px;
    margin-top: 40px;
}

.question-answer {
    display: flex;
    width: 500px;
    padding-left: 7rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.answer {
    display: flex;
    padding: 15px;
    flex-direction: column;
    /* align-items: flex-start; */
    gap: 20px;
    align-self: stretch;
    border-radius: 15px;
    background: var(--gray-scale-0, #FFF);
    
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.accordion-header h6 {
    color: var(--gray-scale-70, #272E32);
    text-align: left;
    font-family: "Jost", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; 
    letter-spacing: 0.03px;
    min-width: max-content;
}

.accordion-header img {
    width: 20px;
    height: 20px;
}

.accordion-content p {
    width: 452px;
    color: var(--gray-scale-50, #61676A);
    font-family: "Jost", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    padding: 0.6rem;
}

.question1 {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 15px;
    background: var(--gray-scale-0, #FFF);
}

.question1 h6 {
    color: var(--gray-scale-70, #272E32);
    text-align: center;
    font-family: "Jost", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; 
    letter-spacing: 0.03px;
}

.question1 img {
    width: 20px;
    height: 20px;
}

.question2 {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 25px;
    background: var(--gray-scale-0, #FFF);
}

.question2 h6 {
    color: var(--gray-scale-70, #272E32);
    text-align: center;
    font-family: "Jost", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; 
    letter-spacing: 0.03px;
}

.question2 img {
    width: 20px;
    height: 20px;
}

.banner-sale {
    width: 50%;
    display: flex;
    /* padding: 50px 421px 385px 100px; */
    height: 700px;
    /* align-items: center; */
    background: var(--primary-150, #A4BC46);
}

.content-sale {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    padding-left: 100px;
    margin-top: 40px;
}

.contentsale {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.title-sale {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
}

.title-sale h4 {
    color: var(--gray-scale-0, #FFF);
    font-family: "Lily Script One", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; 
    letter-spacing: 0.085px;
    text-transform: capitalize;
}

.title-sale h1 {
    color: var(--background-elevation-24, #FFF);
    font-family: "Jost", sans-serif;
    font-size: 90px;
    font-style: normal;
    font-weight: 700;
    line-height: 104px; 
    letter-spacing: -1.44px;
}

.contentsale h6 {
    width: 439px;
    color: var(--background-elevation-24, #FFF);
    font-family: "Jost", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
    letter-spacing: 0.03px;
}

.button-banner {
    display: flex;
    padding: 10px 25px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 56px;
    border: none;
    background: var(--background-elevation-24, #FFF);
    /* text */
    color: var(--primary-150, #A4BC46);
    font-family: "Jost", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
    letter-spacing: 0.08px;
    text-transform: uppercase;
}

.button-banner img {
    width: 10px;
    height: 10px;
    display: flex;
    width: 24px;
    height: 24px;
    padding: 5.538px 5px;
    justify-content: center;
    align-items: center;
}